body {
    background-color: rgba(100, 100, 100, 0.6);
    text-align: center;
}

button {
    font-size: 1.1rem;
    border-radius: 10px;
}

.closeBtn {
    font-size: 1.0rem;
}

p {
    font-size: 1.2rem;
}

.grid-container {
    display: grid;
    border: 1px dotted red;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid-item {
    background-color: rgba(150, 200, 150, 0.6);
    border: 1px dotted black;
    text-align: center;
    padding: 20px;
    font-size: 1.1rem;
}

.titleDiv {
    font-size: 1.3rem;
}

.btnRemove, .btnToggleRead {
    font-size: 0.9rem;
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 8px;
    display: inline-block;
}

.readStatusGreen {
    background-color: rgba(150, 200, 150, 0.6);
}

.readStatusRed {
    background-color: red;
}